In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('energydata_complete.csv')

In [3]:
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [4]:
column_names = {'T1':'Temp in Kitchen', 'RH_1':'Hum in kitchen', 'T2':'Temp in living room', 'RH_2':'Hum in living room', 'T3':'Temp in laund. area', 'RH_3':'Hum in laund. area', 'T4':'Temp in office room','RH_4':'Hum in office room', 'T5':'Temp in bathroom','RH_5':'Hum in bathroom', 'T6':'Temp outside the building','RH_6':'Hum outside the building', 'T7':'Temp in ironing room','RH_7':'Hum in ironing room', 'T8':'Temp in teen room','RH_8':'Hum in teen room', 'T9':'Temp in parent room','RH_9': 'Hum in parent room', 'T_out':'Temp outside(Chievres WS)','RH_out':'Hum outside(Chievres WS)', 'rv1':'Random Variable 1','rv2':'Random variable 2'}
df = df.rename(columns=column_names)

In [5]:
df

,date,Appliances,lights,Temp in Kitchen,Hum in kitchen,Temp in living room,Hum in living room,Temp in laund. area,Hum in laund. area,Temp in office room,...,Temp in parent room,Hum in parent room,Temp outside(Chievres WS),Press_mm_hg,Hum outside(Chievres WS),Windspeed,Visibility,Tdewpoint,Random Variable 1,Random variable 2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [27]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
features_df = normalised_df.drop(columns=['Appliances'])
Target = normalised_df['Appliances']

In [7]:
df.columns

Index(['date', 'Appliances', 'lights', 'Temp in Kitchen', 'Hum in kitchen',
       'Temp in living room', 'Hum in living room', 'Temp in laund. area',
       'Hum in laund. area', 'Temp in office room', 'Hum in office room',
       'Temp in bathroom', 'Hum in bathroom', 'Temp outside the building',
       'Hum outside the building', 'Temp in ironing room',
       'Hum in ironing room', 'Temp in teen room', 'Hum in teen room',
       'Temp in parent room', 'Hum in parent room',
       'Temp outside(Chievres WS)', 'Press_mm_hg', 'Hum outside(Chievres WS)',
       'Windspeed', 'Visibility', 'Tdewpoint', 'Random Variable 1',
       'Random variable 2'],
      dtype='object')

In [9]:
df[:]

,date,Appliances,lights,Temp in Kitchen,Hum in kitchen,Temp in living room,Hum in living room,Temp in laund. area,Hum in laund. area,Temp in office room,...,Temp in parent room,Hum in parent room,Temp outside(Chievres WS),Press_mm_hg,Hum outside(Chievres WS),Windspeed,Visibility,Tdewpoint,Random Variable 1,Random variable 2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       19735 non-null  object
 1   Appliances                 19735 non-null  int64
 2   lights                     19735 non-null  int64
 3   Temp in Kitchen            19735 non-null  float64
 4   Hum in kitchen             19735 non-null  float64
 5   Temp in living room        19735 non-null  float64
 6   Hum in living room         19735 non-null  float64
 7   Temp in laund. area        19735 non-null  float64
 8   Hum in laund. area         19735 non-null  float64
 9   Temp in office room        19735 non-null  float64
 10  Hum in office room         19735 non-null  float64
 11  Temp in bathroom           19735 non-null  float64
 12  Hum in bathroom            19735 non-null  float64
 13  Temp outside the building  19735 non-null  float64
 14  Hum outside the building   19735 non-null  float64
 15  Temp in ironing room       19735 non-null  float64
 16  Hum in ironing room        19735 non-null  float64
 17  Temp in teen room          19735 non-null  float64
 18  Hum in teen room           19735 non-null  float64
 19  Temp in parent room        19735 non-null  float64
 20  Hum in parent room         19735 non-null  float64
 21  Temp outside(Chievres WS)  19735 non-null  float64
 22  Press_mm_hg                19735 non-null  float64
 23  Hum outside(Chievres WS)   19735 non-null  float64
 24  Windspeed                  19735 non-null  float64
 25  Visibility                 19735 non-null  float64
 26  Tdewpoint                  19735 non-null  float64
 27  Random Variable 1          19735 non-null  float64
 28  Random variable 2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [25]:
df = df.drop(columns=['lights'])

In [26]:
df

,Appliances,Temp in Kitchen,Hum in kitchen,Temp in living room,Hum in living room,Temp in laund. area,Hum in laund. area,Temp in office room,Hum in office room,Temp in bathroom,...,Temp in parent room,Hum in parent room,Temp outside(Chievres WS),Press_mm_hg,Hum outside(Chievres WS),Windspeed,Visibility,Tdewpoint,Random Variable 1,Random variable 2
0,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [13]:
df

,Appliances,lights,Temp in Kitchen,Hum in kitchen,Temp in living room,Hum in living room,Temp in laund. area,Hum in laund. area,Temp in office room,Hum in office room,...,Temp in parent room,Hum in parent room,Temp outside(Chievres WS),Press_mm_hg,Hum outside(Chievres WS),Windspeed,Visibility,Tdewpoint,Random Variable 1,Random variable 2
0,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [14]:
df.columns
df.iloc[:, 0]

0         60
1         60
2         50
3         50
4         60
        ...
19730    100
19731     90
19732    270
19733    420
19734    430
Name: Appliances, Length: 19735, dtype: int64

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train, x_test, y_train, y_test = train_test_split(features_df, Target, test_size=0.3, random_state = 42)
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)

In [29]:
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test, predicted_values)
round(MAE, 2)

0.05

In [30]:
from sklearn.metrics import mean_squared_error
RMSE = np.sqrt(mean_squared_error(y_test, predicted_values))
round(RMSE, 3)

0.088

In [31]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score,2)

0.15

In [39]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [38]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [59]:
def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [63]:
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

In [64]:
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='features')

In [65]:
final_weights

                     features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          Hum in living room            -0.456698     -0.411071     -0.000000
1   Temp outside(Chievres WS)            -0.321860     -0.262172      0.000000
2         Temp in living room            -0.236178     -0.201397      0.000000
3         Temp in parent room            -0.189941     -0.188916     -0.000000
4            Hum in teen room            -0.157595     -0.156830     -0.000110
5    Hum outside(Chievres WS)            -0.077671     -0.054724     -0.049557
6         Hum in ironing room            -0.044614     -0.045977     -0.000000
7          Hum in parent room            -0.039800     -0.041367     -0.000000
8            Temp in bathroom            -0.015657     -0.019853     -0.000000
9             Temp in Kitchen            -0.003281     -0.018406      0.000000
10          Random Variable 1             0.000770      0.000748     -0.000000
11          Random variable 2             0.000770      0.000748     -0.000000
12                Press_mm_hg             0.006839      0.006584     -0.000000
13       Temp in ironing room             0.010319      0.010098     -0.000000
14                 Visibility             0.012307      0.012076      0.000000
15            Hum in bathroom             0.016006      0.016152      0.000000
16         Hum in office room             0.026386      0.024579      0.000000
17        Temp in office room             0.028981      0.027384     -0.000000
18                  Windspeed             0.029183      0.030268      0.002912
19   Hum outside the building             0.038049      0.035519     -0.000000
20         Hum in laund. area             0.096048      0.095135      0.000000
21          Temp in teen room             0.101995      0.101028      0.000000
22                  Tdewpoint             0.117758      0.083128      0.000000
23  Temp outside the building             0.236425      0.217292      0.000000
24        Temp in laund. area             0.290627      0.288087      0.000000
25             Hum in kitchen             0.553547      0.519525      0.017880